@import url(/css/reset.css);
.conteiner{
  width: 1480px;
  height: 1282px;
  background: #FFFFFF;
}
.logo{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  margin-top: 63px;
  margin-left: 100px;
  margin-bottom: 40px;
}
.color-logo{
  color: #4BCAFF;
}
.menu{
  display: flex;
  width: 1280px;
  height: 69px;
  left: 2px;
  top: 119px;
  background: #35444F;
  margin-left: 100px ; 
  margin-right: 100px;
  
}
 .menu-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex; 
  align-items: flex-end;
  color: #FFFFFF; 
  
} 
 .functional{
  text-align: center;
  padding:25px 35px 15px 30px; 
  border-left: 1px solid #FFFFFF;
  margin-left: 165px;
}
.ramda{
  text-align: center;
  padding: 25px 35px 15px 40px;
  border-left: 1px solid #FFFFFF;
}
.menu-texthover:hover {
  background-color: #222F3A;
}
.fantasy{
  text-align: center;
  padding: 25px 40px 15px 40px;
  border-left: 1px solid #FFFFFF;
}
.node{
  text-align: center;
  padding: 25px 20px 15px 40px;
  border-left: 1px solid #FFFFFF;
  border-right:1px solid #FFFFFF;
} 
.blok-content{
  display:inline-flex;
}
.left-menu{
  margin: 50px 0 0 100px;
  width: 344px;
  height: 399px; 
  border: 1px solid #000000;
  
}
.left-menu-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  color: #495863;
}
.left-menu-ramda{
  padding: 25px 194px 25px 45px;
}
.left-menu-hover:hover{
  background: #DBDBDB;
}
.left-menu-why-ramda{
  padding: 25px 80px 25px 40px;
}
.left-menu-whats{
  padding: 25px 80px 25px 40px;
}
.left-menu-introductions{
  padding: 25px 120px 25px 45px;
}
.left-menu-philosophy{
  padding: 25px 150px 30px 40px;
}
  .content{
  width: 885px;
  height: 832px;
  margin:50px 0px 0px 55px ; 
}
.blok-img {
  display: inline-block; 
  overflow: hidden; 
  width: 885px;
  height: 529px;
  background: #FFFFFF;
  border: 1px solid #000000;
}
.img:hover {
  transform: scale(1.2);
}
.img{
  
  transition: 1s; 
  display: block;
  padding:75px 268px 73px 297px ;
  background: url(top1-img.png);
}
.text-lorem{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
  align-items: center;
  padding: 40px 0 35px 0;
}
.text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
  align-items: center;
}
.back-footer{
  margin: 55px 0px 30px 100px;
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
}
.footer-txt{
  display:inline-flex;
}
.footer-txt ul  {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #0C1927;
}
.footer-txt p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #010101;
  margin: 20px 40px 20px 135px; 
}
.footer-ramda{
  padding: 20px 35px 20px 40px;
}
.footer-whyramda{
  padding: 20px 35px 20px 0px;
}
.footer-whats{
  padding: 20px 35px 20px 0px;
}
.footer-introductions{
  padding: 20px 35px 20px 0px;
}
.footer-philosophy{
  padding: 20px 0px 20px 40px;
}
.footer-hover:hover{
  text-decoration: underline;
  color:#3181A6;
}

